/* Section layout for large screens */
@media screen and (min-width: 768px) {
  /* Header layout updates */
  .header-title img,
  .header-title {
    display: flex;
    justify-content: center;
  }

  .header-title {
    padding: 2rem;
  }

  /* Always show nav menu on large screens */
  #nav-menu {
    display: block !important;
  }

  #nav-menu nav ul {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }

  #menu-toggle {
    display: none;
  }

  /* Section layout and padding */
  .sec1 {
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 2rem;
    padding: 2rem; /* added padding */
  }

  .up-left,
  .up-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Make small-card2 grid uniform */
  .small-card2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

}
